/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: #12103e;
$secondary: #767682;
$ternary: #9e9eac;
$border: #4d4d4d;
$gray: #f9fbff;
$accent: #ff6d5a;
$accent2: #342ead;
